/* CSS Document */
body,ul,li,p,h1,h2,h3,h4,h5,a {
	margin:0;
	padding:0;
	list-style:none;
	font-weight:100;
	text-decoration:none;
}
#mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#FFF;
	opacity: 0.5;
	display: none;
}
.dialog {
	display: none; /*默认不显示*/
	position: fixed;
	top:150px;
	left: 30%;
	z-index:10;
	width:500px;
	border: 1px solid #EDEDED;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #999999;
	overflow:hidden;
	background-color:#FFF;
}
.dialog .title {
	position:relative;
	line-height: 35px;
	background: linear-gradient(#FFFFFF, #F7F7F7);
	border-bottom: 1px solid #EDEDED;
	box-shadow: 0 0 2px #333;
}
.dialog .title .close {
	position:absolute;
	top: 5px;
	right: 5px;
	line-height: 35px;
	height: 35px;
	font-size: 24px;
	cursor: pointer;
}
.dialog .title .close:hover {
	color: #333333;
}
.dialog .title .close:active {
	top: 6px;
}
.dialog .title h3 {
	margin-left:10px;
}
.dialog .d-cnt {
	background-color:#FFF;
	min-height:60px;
	max-height: 500px;
	overflow-x: scroll;
	margin: 10px;
	padding-bottom: 10px;
	font-size:16px;
	border-bottom: 1px solid #EDEDED;
}
.dialog .d-cnt .power-list li {
	min-width:117px;
	font-size:14px;
	display:inline-block;;
	padding: 3px 5px;
	margin: 5px 2px 0 2px;
	border: 1px dashed #CCC;
	border-radius: 2px;
}
.dialog .c-btm {
	font-size:14px;
	height: 35px;
	text-align:center;
}
.dialog .c-btm span {
	margin: 0 30px;
}
.grayBtn {
	background: -moz-linear-gradient(center top , #EBEBEB, #DDDDDD) repeat scroll 0 0 transparent;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EBEBEB),color-stop(1, #DDDDDD));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EBEBEB', endColorstr='#DDDDDD');
	box-shadow: 0 0 2px #999;
    border: 1px solid #999999;
    border-radius: 2px;
    cursor: pointer;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:3px;
	text-align:center;
}
.grayBtn:active {
	background: -moz-linear-gradient(center top , #DDDDDD, #EBEBEB) repeat scroll 0 0 transparent;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #DDDDDD),color-stop(1, #EBEBEB));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DDDDDD', endColorstr='#EBEBEB');
}
.grayBtn:hover {
	border: 1px solid #777777;
}
