/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
	font: 14px/1.5 tahoma,arial,"Hiragino Sans GB","微软雅黑",sans-serif;
	background-color: #F1F1F1;
}
a {
	text-decoration: none;
	color: #666;
}
a:hover {
	color: #333;
}
.header {
	background-color: #FAFAFA;
	height: 40px;
	line-height: 40px;

	position: fixed;
	z-index: 999;
	width: 100%;
	opacity: 0.9;
}
.g-container {
	padding-top: 40px;
}
.footer {
	background-color: #FAFAFA;
	width: 100%;
}
/** 如果需要头部和底部宽度100%
.header .base, .footer .base {
	width: 100%;
}**/
div.base {
	/*为了使内部的float元素也可以撑开此div*/
	display: table;
	width: 100%;
	min-width: 220px;
	margin: 0 auto;
}
div.inner {
	padding: 20px 10px 10px 10px;
}
.g-container .nav {
	float: left;
	width: 220px;
	height: 100%;
	background-color: #F1F1F1;
	position: fixed;
	overflow: auto;
}
.g-container .content {
	background-color: #FFFFFF;
}
.g-container .content iframe{
	width: 100%;
	border: none;
}
.g-container .ml {
	margin-left: 220px;
}
.green {
	background-color: green;
}
.blur {   
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
/******************************************/
.header .logo-box {
	font-size: 22px;
	line-height: 40px;
	height: 40px;
	float: left;
	width: 220px;
	background-color: #F1F1F1;

	text-align: center;
}
.header .menu-box {
	margin-left: 220px;
}
.header ul.right-menu {
	float: right;
}
.header ul.left-menu {
	float: left;
}
.header ul li {
	display: inline-block;
	padding: 0 5px;
	margin: 0 5px;
	position: relative;
	cursor: pointer;
}
.header ul li:hover {
	border-bottom: 2px blue solid;
}
.header ul li i {
	font-size: 22px;
	position: relative;
	top: 3px;
	margin: 0 4px;
}
/*******************************************/
.nav .left-nav {
}
.left-nav .item .item-title {
	background-color: #FAFAFA;
	color: #666;
	font-size: 16px;
	padding-left: 20px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	border-left: 2px solid blue;
	height: 32px;
	line-height: 32px;
}
.left-nav .item ul li {
	display: block;
	padding: 4px 0 4px 15px;
	margin-left: 40px;
	cursor: pointer;
	color: #666;
}
.left-nav .item ul li:hover {
	color: #333;
}
.nav .tool-bar {
	font-size: 20px;
	color: #F1F1F1;
	background-color: #999;
	padding: 0 10px;
	height: 34px;
}
.nav .tool-bar i {
	margin: 15px 5px;
	cursor: pointer;
}
.nav .nav-search input {
	font-size: 14px;	
	display: block;
	padding: 0;
	margin: 0;
	height: 34px;
	width: 100%;
	border: none;
	background-color: #FAFAFA;
}