<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<script type="text/javascript" src="js/jquery-1.7.1.js"></script>
<script type="text/javascript">
    // JavaScript Document
    $(function(){
        loadPage("table.html");
        $("body").hide(0).fadeIn(500);

        $(".item-title").click(function(e) {
            $(this).siblings("ul").slideToggle(300);
        });

        $(".nav li").click(function(e) {
            var url = $(this).attr("url");
            loadPage(url, this);
        });

        var leftW = 220;
        var content = $(".container .content");
        $("#hide-left").click(function(){
            var ths = $(this);
            
            $("div.nav").slideToggle(0, function(){
                content.toggleClass("ml");
            });
            ths.find("i").toggleClass("icon-chevron-sign-right");
        });
    });

    function loadPage(url,node){
        $.post(url,function(result){
            var main = $(".content .inner");
            main.html(result);
            main.hide(0).fadeIn(300);
            console.info(main);
            $(".nav li").css("background-color","inherit");
            $(node).css("background-color","#FFF");
        },"html");
    }
</script>
</head>

<body>
	<div class="header">
    	<div class="base">
        	<div class="logo-box">
                管理平台
            </div>
            <div class="menu-box">
                <ul class="left-menu">
                    <li id="hide-left"><i class="icon-chevron-sign-left"></i>隐藏</li>
                    <li>登陆页</li>
                </ul>
                <ul class="right-menu">
                    <li>Conan</li>
                    <li>Exit</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
    	<div class="base">
    		<div class="nav">
            	<div class="left-nav">
                    <div class="nav-search">
                        <input placeholder="菜单搜索"/>
                    </div>
                    <div class="tool-bar">
                        <span><i class="icon-screenshot"></i></span>
                        <span><i class="icon-minus-sign-alt"></i></span>
                    </div>
                    <div class="item">
                        <div class="item-title" current="true"><a href="#">电子产品</a></div>
                        <ul>
                            <li url="table.html"><a href="#">表格</a></li>
                            <li url="table-2.html"><a href="#">表格-2</a></li>
                            <li><a href="#">智能手表</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="item-title"><a href="#">服饰鞋帽</a></div>
                        <ul>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋</a></li>
                            <li><a href="#">T恤</a></li>
                            <li><a href="#">牛仔裤</a></li>
                            <li><a href="#">皮鞋123131312</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content ml">
            	<div class="inner">
                	Content width : ParentWidth - 220px<br />
                    Content<br />
                    Content<br />
                    Content<br />
                    Content<br />
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer">
    	<div class="base">
        	<div class="inner">
    			&nbsp;
            </div>
        </div>
    </div> -->
</body>
</html>